<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<nav>
  <ul>
    <li><a routerLink="ticket-list">Ticket List</a></li>
    <li><a routerLink="user-list">User List</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!--<div>
  <app-ticket-list></app-ticket-list>
</div>-->


<div>
  <app-user-detail userId="0"></app-user-detail>
</div>


<!--<div>
  <app-user-list></app-user-list>
</div>-->

